
<%= simple_form_for [@post, @comment] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :content, wrapper: false, label_html: { class:"form-control" }, required: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class:"btn btn-success"  %>
  </div>
<% end %>
<br>
<div class="clearfix"></div>
<hr>