<div class="card my-4">
          <h5 class="card-header">Categories</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <%= link_to @tags.sample.name, tag_path(ActsAsTaggableOn::Tag.find_by_name(@tags.sample.name)) %>
                  </li>
                  <li>
                    <%= link_to @tags.sample.name, tag_path(ActsAsTaggableOn::Tag.find_by_name(@tags.sample.name)) %>
                  </li>
                  <li>
                    <%= link_to @tags.sample.name, tag_path(ActsAsTaggableOn::Tag.find_by_name(@tags.sample.name)) %>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <%= link_to @tags.sample.name, tag_path(ActsAsTaggableOn::Tag.find_by_name(@tags.sample.name)) %>
                  </li>
                  <li>
                    <%= link_to @tags.sample.name, tag_path(ActsAsTaggableOn::Tag.find_by_name(@tags.sample.name)) %>
                  </li>
                  <li>
                    <%= link_to @tags.sample.name, tag_path(ActsAsTaggableOn::Tag.find_by_name(@tags.sample.name)) %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
